body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: rgb(110, 207, 110);
}

.head_div {
    border: 1px solid white;
    background-color: rgba(12, 199, 12, 0.596);
    height: 60px;

}

.titulo{
    font-size: 25px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
}

.player-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    width: 100px;
    margin: 10px;
    display: inline-flex;
    
}
